header {
    background-image: linear-gradient(to bottom right, rgb(1, 1, 100),rgb(41, 100, 248)) ;
    color: white;
    text-align: center;
}

#search-box {
    border: 2px solid black;
}

#current-city-container {
     border: 2px solid black;
     text-align: center;
}

#five-day-forecast {
     /* border: 2px solid black; */
}
#five-day-forecast h3 {
    text-align: center;
    padding: 10px 0;
}

#forecast-box-container {
    display: flex;
    justify-content: space-around;
}
.forecast-box {
     border: 2px solid black;
     margin: 5px;
}

#previous-searched button {
    margin: 5px 0;
}